.body {
  height: 100%;
  padding-top: 0px;
  padding-bottom: 5px;
  border-style: none;
  background-color: transparent;
  font-size: 12px;
  font-style: normal;
}

.feed_content_photo {
  position: static;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  margin-bottom: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-style: none none dotted;
  border-right-width: 1px;
  border-right-color: #e0e0e0;
  border-bottom-width: 1px;
  border-bottom-color: #fff;
  border-left-width: 1px;
  border-left-color: #e0e0e0;
  background-color: transparent;
  font-family: Raleway, sans-serif;
  font-style: normal;
}

.coll_prod_btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.coll_prod_photo-img {
  display: block;
  height: 160px;
  max-height: 200px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.coll_prod_photo-contain {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -15px;
  margin-bottom: 20px;
  padding-top: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.topnav_maincontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: 0px auto;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-style: none;
}

.topnav_logo-img {
  width: 90px;
  height: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 0px;
}

.builder_img-container {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: visible;
  height: 147px;
  margin-bottom: 50px;
}

.header {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 10;
  display: block;
  height: 60px;
  max-width: 960px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-style: none;
  background-color: #fff;
}

.builder_img-subcontain {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid none none;
  border-top-width: 1px;
  border-top-color: #f1f1f1;
  background-color: #fff;
}

.builder_img-slot2 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 85px;
  padding-right: 0px;
  padding-left: 0px;
  float: left;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.shared-bottompad {
  height: 50px;
  margin-bottom: 175px;
}

.browse_container {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  padding: 0px 6px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-style: none none solid;
  border-bottom-width: 1px;
  border-bottom-color: #f8f8f8;
  background-color: transparent;
}

.builder_img-img1 {
  height: 115px;
  max-height: 120px;
  border-style: none;
}

.browse-img {
  height: 140px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.bold-text {
  font-weight: 700;
  text-align: left;
}

.coll_prod_btns_altern-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 20px;
  margin-left: 5px;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #000;
  text-align: center;
}

.feed_content_head {
  position: static;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 0px 20px;
}

.bottomnav_btn-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.bottomnav_btn-txt {
  display: inline-block;
  margin-left: 2px;
  font-family: Raleway, sans-serif;
  color: #333;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.shared_auth_contain {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.shared_auth-img {
  width: 45px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.shared_auth_txt {
  display: inline-block;
  margin-top: 1px;
  padding-right: 10px;
  padding-left: 7px;
}

.shared_contentholder {
  display: block;
  padding-top: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.bottomnav_contain {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999;
  display: block;
  height: 50px;
  background-color: #fff;
  font-family: 'Source Sans Pro';
  color: #000;
  font-size: 13px;
}

.shared_line-small {
  display: block;
  width: 25px;
  margin: 10px auto;
  border-style: none none solid;
  border-bottom-width: 1px;
  border-bottom-color: #303030;
  text-align: center;
}

.bottomnav_subcontain {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-right: 35px;
  padding-left: 35px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #eee;
  background-color: #fff;
}

.bottomnav_btn-icon {
  width: 12px;
  margin-right: 2px;
}

.coll_prod {
  position: relative;
  top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-style: none none dotted;
  border-width: 1px;
  border-color: #e0e0e0 #e0e0e0 #fff;
  background-color: transparent;
  font-family: Raleway, sans-serif;
  font-style: normal;
  text-align: center;
}

.builder_img-slot1 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 85px;
  padding-right: 0px;
  padding-left: 0px;
  float: left;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.builder_img-img2 {
  height: 115px;
  max-height: 120px;
  border-style: none;
}

.builder_img-slot3 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 85px;
  padding-right: 0px;
  padding-left: 0px;
  float: left;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.builder_img-img3 {
  height: 115px;
  max-height: 120px;
  border-style: none;
}

.builder_img-slot4 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 85px;
  padding-right: 0px;
  padding-left: 0px;
  float: left;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.builder_img-img4 {
  height: 115px;
  max-height: 120px;
  border-style: none;
}

.zoom_photo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.zoom_photo-img {
  width: auto;
  height: 250px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.zoom_detail-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -45px;
  margin-bottom: 25px;
  padding-top: 0px;
  padding-right: 10px;
  padding-left: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}

.zoom_details-productname {
  position: relative;
  width: 235px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 0px;
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
}

.topnav_righticon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  min-width: 70px;
  margin-right: -10px;
  margin-left: -15px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.topnav_lefticon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  min-width: 70px;
  margin-right: -10px;
  margin-left: -15px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.topnav_righticon-img {
  height: 18px;
}

.topnav_logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  min-width: 70px;
  margin-right: -10px;
  margin-left: -15px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.topnav_lefticon-img {
  height: 15px;
}

.shared_smalltxt-by {
  font-family: 'Old Standard TT', sans-serif;
  font-style: italic;
  text-transform: none;
}

.coll_head-subcontain {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.shared_smalltxt {
  margin-right: 0px;
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 11px;
  line-height: 17px;
  font-weight: 400;
}

.coll_head-container {
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 10px 0px 0px 15px;
}

.feed_imgholder {
  width: 300px;
  border: 1px solid #949494;
}

.coll_prod_btns_heart-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.coll_prod_btns_heart-img {
  width: 17px;
  height: 15px;
}

.coll_bottom-padding {
  height: 185px;
}

.coll_prod_btns_altern-txt {
  margin-top: 23px;
  padding-top: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 10px;
}

.coll_prod_btns_altern-subtext2 {
  position: static;
  left: -443px;
  top: 20px;
  bottom: -25px;
  margin-top: 1px;
  font-family: Lato, sans-serif;
  font-size: 10px;
}

.header-filter {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 10;
  display: block;
  height: 50px;
  max-width: 960px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-style: none;
  background-color: #fff;
}

.filter-close {
  font-family: Lato, sans-serif;
  color: #575757;
  font-size: 20px;
}

.filter_mainbtns-section {
  position: static;
  top: -1px;
  bottom: 0px;
  margin-top: 50px;
  padding-top: 0px;
}

.filter_mainbtns-subcontain {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.filter_mainbtns-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px none #c3c3c3;
}

.filter-largetxt {
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.filter_subbtns-container {
  position: fixed;
  left: 0px;
  top: 500px;
  right: 0px;
  bottom: 0px;
  z-index: 9999999;
  display: block;
  width: 100%;
  height: 120px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-style: none;
  border-top-width: 1px;
  border-top-color: #e7e7e7;
  background-color: transparent;
}

.filter_subbtns-subcontain {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 555;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  padding-top: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.filter_subbtns-border {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 130px;
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #000;
  background-color: transparent;
}

.filter_subbtns-labeltxt {
  margin-top: 23px;
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 16px;
  text-align: center;
}

.filter_subbtns-appliedtxt {
  position: relative;
  bottom: -20px;
}

.filter_subbtns-labeltxt-apply {
  margin-top: 0px;
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 16px;
  text-align: center;
}

.filter_subbtns-border-apply {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 130px;
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #000;
  background-color: #eee;
}

.filter_mainbtns_alreadyapplied-container {
  position: static;
  top: -1px;
  bottom: 0px;
  margin-top: 80px;
  padding-top: 0px;
}

.filter_categories-subcontain {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 50px;
  margin-top: 0px;
  margin-bottom: 3px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.contentholder-copy {
  position: relative;
  z-index: 0;
  padding-top: 0px;
}

.coll_head_title-holder {
  padding-left: 0px;
}

.shared_title-txt-large {
  margin-bottom: 2px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.browse_vertdivide {
  min-height: 100%;
  border-right: 1px solid #f8f8f8;
}

.coll_auth-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-top-style: none;
  border-top-width: 1px;
  border-left-style: none;
  border-left-width: 0px;
}

.coll_auth-title {
  margin-bottom: 0px;
  margin-left: 0px;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.coll_auth-subcontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 0px;
  padding-left: 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-left-style: none;
}

.coll_horizline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 50px;
  padding-top: 35px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: 1px solid #000;
}

.utility1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.mp4-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mp4_loading-txt {
  margin-top: 15px;
}

.mp4-coverimg {
  max-height: 200px;
}

.browse-img-holder-divider {
  width: 20px;
  height: 2px;
  margin-bottom: 6px;
  border-top: 1px solid #525252;
}

.link-block {
  text-align: center;
  text-decoration: none;
}

.browse_img-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  padding: 10px 4px 18px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.browse_img-linkblock {
  margin-bottom: 18px;
}

.browse_heart-container {
  position: relative;
  right: -65px;
  width: 20px;
  height: 20px;
  margin-bottom: -4px;
  padding-top: 0px;
}

.browse_designername {
  margin-top: 4px;
  margin-bottom: 4px;
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 11px;
  line-height: 17px;
  font-weight: 700;
}

.header-noshadow {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 10;
  display: block;
  height: 60px;
  max-width: 960px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-style: none;
  background-color: #fff;
}

.zoom_btn-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 65px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.zoom_btn_buy-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 140px;
  height: 50px;
  margin-right: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #000;
  background-color: #fff;
}

.test-btn-text {
  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.test-btn-text-copy {
  margin-left: 0px;
  font-family: Raleway, sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.zoom_btn_styleit-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 140px;
  height: 50px;
  margin-right: 0px;
  margin-left: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #000;
  background-color: #000;
}

.test-btn-text-copy2 {
  position: relative;
  top: -3px;
  font-family: Lato, sans-serif;
  font-size: 10px;
  font-weight: 400;
}

.zoom_heart-icon {
  position: relative;
  top: -260px;
  right: -140px;
  width: 20px;
}

.zoom_divider-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none;
  text-align: center;
}

.zoom_pricing-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.zoom_pricing-subcontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.zoom_pricing-pricetxt {
  font-family: Lato, sans-serif;
  font-size: 14px;
}

.zoom_description-line-small {
  width: 60px;
  height: 2px;
  margin-bottom: 0px;
  border-top: 1px solid #000;
}

.zoom_description-container {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 30px;
  padding-left: 30px;
}

.zoom_description-maintxt {
  font-family: Lato, sans-serif;
  font-size: 13px;
  line-height: 22px;
}

.zoom_description-heading {
  margin-bottom: 10px;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.zoom_animation-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -5px;
  margin-bottom: 5px;
  padding-bottom: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.shared_line-large {
  width: 100%;
  margin-bottom: 0px;
  border-top: 1px solid #000;
}

.feed_divider-thin {
  height: 10px;
  margin-bottom: 20px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #f1f1f1;
  background-color: #fafafa;
}

.zoom_heading {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-right: 0px;
  padding-left: 0px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  text-align: center;
}

.zoom_matchtxt {
  margin-bottom: 30px;
  font-family: Lato, sans-serif;
  font-size: 13px;
  line-height: 22px;
  text-align: center;
}

.link {
  text-decoration: none;
}

.feed_title-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.coll_skel-dots {
  width: 50px;
}

.coll_skel-imgplaceholder {
  width: 130px;
  height: 160px;
}

.browse_header-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  height: 50px;
  padding: 0px 6px 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none none solid;
  border-bottom-width: 1px;
  border-bottom-color: #f8f8f8;
  background-color: transparent;
}

.shared_smalltxt-skeleton {
  margin-top: 4px;
  margin-right: 0px;
  margin-bottom: 4px;
  background-color: #f4f4f4;
  font-family: Lato, sans-serif;
  color: #f4f4f4;
  font-size: 11px;
  line-height: 17px;
  font-weight: 400;
}

.zoom_btn-container2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.browse_anim_plussymbol {
  margin-right: 20px;
  margin-left: 15px;
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 50px;
  font-weight: 300;
}

.browse_anim-movie {
  width: 130px;
}

@media (max-width: 991px) {
  .coll_prod_photo-img {
    margin-top: -10px;
  }
  .bottomnav_contain {
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
}

@media (max-width: 479px) {
  .coll_prod_btns {
    margin-right: 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .topnav_maincontainer {
    padding-right: 0px;
    padding-left: 0px;
  }
  .builder_img-container {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding-right: 2%;
    padding-left: 2%;
  }
  .shared_auth_contain {
    padding-right: 10px;
    padding-left: 6px;
  }
  .bottomnav_contain {
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
  .bottomnav_subcontain {
    position: relative;
    padding-right: 30px;
    padding-left: 30px;
  }
  .coll_head-subcontain {
    padding-right: 6px;
    padding-left: 6px;
  }
  .coll_prod_btns_altern-subtext2 {
    left: -145px;
    top: 22px;
  }
  .filter_subbtns-container {
    top: 300px;
  }
  .filter_subbtns-subcontain {
    position: absolute;
    left: 0px;
    top: -100px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

